* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_text: #1386d3;
  --secondry_text: #000;
  --background_text: #fff;
  --background_color: #8a85852f;
}

a {
  color: var(--nav_primary_text);
}

.blog_container {
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;

  .about_page {
    width: 15rem;
    letter-spacing: 0.1rem;

    &::after {
      content: "";
      display: block;
      margin: 15px 0 0;
      width: 4rem;
      height: 2px;
      background-color: var(--primary_text);
    }
  }

  h1 {
    padding: 5rem 0 2rem;
    color: var(--primary_text);
    font-weight: 5rem;
  }
  .description {
    font-size: 1rem;
    width: 70vw;
    text-wrap: wrap;
  }

  /* cards */
  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1rem;
    margin: 2rem 0;
    row-gap: 1rem;

    .cards {
      width: 23vw;
      height: 60vh;
      background-color: var(--background_color);
      overflow: hidden;
      border-radius: 0.4rem;

      img {
        object-fit: cover;
      }

      .card_des {
        padding: 0 0.5rem;

        .time_stamp {
          display: flex;
          gap: 1rem;
          padding: 1rem 0;
        }
        .content {
          h4 {
            padding: 0.9rem 0;
            color: var(--primary_text);
          }
        }
      }
    }
  }
}
.CTO {
  background-color: var(--secondry_text);
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: var(--background_text);

  div {
    width: 60vw;
    text-align: center;

    p {
      font-size: 2rem;
    }
    .btn_group {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin-top: 1rem;

      button {
        padding: 0.7rem 1.7rem;
        border-radius: 3rem;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 700;
        background-color: transparent;
        border: 1px solid var(--primary_text);
        color: var(--primary_text);

        &:first-child {
          background-color: var(--primary_text);
          color: var(--background_text);
        }
      }
    }
  }
}
