* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav_primary_background: #000;
  --nav_primary_text: #fff;
  --nav_social_backgroung: #1386d3;
}

a {
  color: var(--nav_primary_text);
}

.container {
  font-weight: bold;
  width: 100%;
  height: 20vh;
  padding: 1rem 10rem;
  display: flex;
  align-items: center;
  background-color: var(--nav_primary_background);
  overflow: hidden;
  justify-content: space-between;
  color: var(--nav_primary_text);

  .brand {
    object-fit: cover;
    flex: 1;
  }

  .nav_items {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    height: 100%;

    .social_info {
      display: flex;
      border-bottom: 1px solid #7a7979;
      justify-content: space-between;
      padding-bottom: 1rem;

      .social {
        display: flex;
        gap: 1rem;
        color: var(--nav_primary_background);

        .social_icon {
          cursor: pointer;
          background-color: var(--nav_primary_text);
          border-radius: 50%;
          font-size: 0.8rem;
          padding: 0.5rem 0.6rem;
          color: var(--nav_primary_background);

          &:first-child {
            background-color: var(--nav_social_backgroung);
            padding: 0.5rem 0.7rem;
            color: var(--nav_primary_text);
          }

          &:hover {
            color: var(--nav_primary_text);
            background-color: var(--nav_social_backgroung);
            transition: all 1s;
          }
        }
      }
      .contect_info {
        display: flex;
        gap: 1rem;

        .contect {
          display: flex;
          gap: 0.5rem;

          i {
            color: var(--nav_social_backgroung);
          }
        }
      }
    }

    .navbar {
      display: flex;
      gap: 2rem;
      padding-top: 0.8rem;
      justify-content: space-around;

      ul {
        display: flex;
        padding-top: 0.8rem;
        gap: 2rem;
        list-style: none;

        li {
          font-size: 13px;
          cursor: pointer;
        }
      }

      button {
        padding: 0.5rem 3rem;
        border-radius: 500px;
        background-color: var(--nav_social_backgroung);
        color: var(--nav_primary_text);
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 1rem 2rem;
    gap: 2rem;
    overflow: hidden;

    .nav_items {
      width: 80%;

      .navbar {
        gap: 1rem;

        button {
          padding: 0.5rem 3rem;
        }
      }
    }
  }
}
